{% load static %}

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'base/login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="login" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <form action="{% url 'base:register' %}">
            <button type="submit">Register</button>
        </form>
    </div>

<script defer>
    document.getElementById("login").addEventListener("submit", function(e) {
        sessionStorage.setItem("password", document.getElementById("id_password").value);
    })
</script>
</body>