{% load static %}

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'base/login.css' %}">
</head>
<body>
    <div class="container">
        {% if register == True %}
            <p style="color: green" register="true">Registration is successful.</p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="register">Register</button>
            </form>
        {% endif %}

        <form action="{% url 'base:login' %}">
            <button type="submit" style="margin: auto">Get Back</button>
        </form>
    </div>
</body>