* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #dcf8c6;
}

.container {
    width: 97%;
    max-width: 100%;
    display: flex;
    height: 100%;
    background: green;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-list-container {
    width: 25%;
    height: 100%;
    background: #2c2c2c;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-right: 1px solid black;

    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8 !important;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07);
        background-color: #2c2c2c;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #2c2c2c;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #2c2c2c;
    }
}

.chat-list-header {
    margin: 0 5px;
    border-bottom: 2px solid #515151;
}

.chat-list-header h2 {
    margin-top: 25px;
}

.chat-list-header-button {
    cursor: pointer;
    float: right;
    padding: 5px;
    margin: 15px 5px 5px;
    border-radius: 8px;
}

.chat-list-header-button:hover {
    background: #383838;
}

.chat-list-header-button.active:hover {
    background: #515151;
}

.chat-list-header-icon {
    width: 30px;
}

.chat-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat {
    padding: 15px;
    border-bottom: 1px solid #515151;
    cursor: pointer;
    margin: 5px;
    border-radius: 8px;
}

.chat:hover {
    background: #383838;
}
.active {
    font-weight: bold;
    background: #454545;
}

.chat.active:hover {
    background: #515151;
}

.chat-notification {
    background-color: #25D366;
    text-wrap: wrap;
    display: inline-block;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    align-content: center;
    border-radius: 50px;
    width: 14px;
    padding: 5px;
    margin-left: 10px;
    color: #343a40;
    font-size: 12px;
}

.chat-container {
    width: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    height: 100%;
}

.chat-header {
    display: none;
    position: relative;
    top: 0;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;
    background-color: #2c2c2c;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 4vh;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 82vh;

    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8 !important;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07);
        background-color: #f1f1f1;
    }

    &::-webkit-scrollbar {
        width: 7px;
        background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
    }
}

.message {
    position: relative;
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    align-self: flex-start;
    font-size: 16px;
}

.messageText {
    margin: 0;
    padding-right: 50px;
}

.messageTime {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 12px;
    color: #888;
}

.message.sent {
    background: #dcf8c6;
    align-self: flex-end;
}

.message.received {
    background: #f2f2f2;
}

.messageDate {
    background: black;
    opacity: 0.8;
    position: relative;
    align-self: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    border-radius: 50px;
    padding: 7px;
    color: white;
}

.chat-input {
    position: relative;
    right: 0;
    bottom: 0;
    display: none;
    padding: 10px;
    background: #2c2c2c;
    color: white;
    height: 6vh;
    border-top: 1px solid black;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    background: #383838;
}

.send-button {
    margin-left: 10px;
    padding: 10px 15px;
    background: #383838;
    color: #fff;
    border-radius: 4px;
    border: 1px solid black;
}

.send-button:enabled {
    cursor: pointer;
}

.send-button:hover:enabled {
    background: #515151;
    border: 1px solid white;
    color: #dcf8c6;
}

.user a {
    padding: 5px 30px 5px 10px;
    display: block;
    color: white;
}

.user a:hover {
    background: transparent no-repeat 3px 170px;
}

.message-status {
    font-size: 10px;
}

.blue {
    color: #007bff;
}

#unread-messages {
    background: white;
    opacity: 0.8;
    position: relative;
    align-self: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    border-radius: 50px;
    padding: 7px;
}

.sidebar {
    float: left;
    width: 3%;
    height: 100%;
    background-color: #2c2c2c;
    border-right: 1px solid #dcf8c6;
    justify-content: center;
    align-items: center;
}

.new-chat-overlay {
    display: none;
    background-color: #2c2c2c;
    border: 1px solid black;
    position: fixed;
    top: 3%;
    left: 28%;
    color: white;
    width: 20%;
    height: 50%;
    padding: 10px;
    z-index: 5;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.search-user-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    background: #383838;
    width: 95%;
    position: relative;
}

#logout-button {
    position: fixed;
    bottom: 5px;
    cursor: pointer;
    padding: 0.5vw;
    margin-left: 0.125vw;
    border-radius: 8px;
}

.sidebar-icon {
    width: 1.7vw;
}

#logout-button:hover {
    background: #383838;
}

.go-bottom-button {
    position: absolute;
    right: 2vw;
    bottom: 9vh;
    background-color: #2c2c2c;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 1vh;
    z-index: 5;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    display: none;
    width: 4vh;
    height: 4vh;
}

.go-bottom-button .sidebar-icon {
    width: 4vh;
}

.go-bottom-button:hover {
    background: #383838;
}

.go-bottom-notification {
    position: absolute;
    left: 15px;
    bottom: 33px;
    background-color: #25D366;
    text-wrap: wrap;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    color: #343a40;
    font-size: 12px;
    z-index: 10;
    width: 12px;
    display: none;
}

.emoji-picker-button {
    padding: 0.3vw;
    margin-right: 5px;
    border-radius: 8px;
    position: relative;
    right: 2px;
    align-content: center;
}

.emoji-picker-button:not([disabled]) {
    cursor: pointer;
}

.emoji-picker-button:not([disabled]):hover {
    background: #383838;
}

.emoji-picker-button:not([disabled]).active:hover {
    background: #515151;
}

#emoji-icon {
    width: 25px;
}

#attachment-icon {
    width: 25px;
}

emoji-picker {
    position: absolute;
    bottom: 60px;
    --background: #2c2c2c;
    --border-color: black;
}

.message-status {
    letter-spacing: -3px;
    margin: 0 3px;
}

#online-icon {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 8px;
    z-index: 50;
}

#chat-header-username {
    justify-self: center;
    padding: 0;
    display: block;
}

.read-more {
    color: dodgerblue;
    margin: 0px;
    cursor: pointer;
}

.messageText img{
    max-width: 100%;
    max-height: 70vh;
    border-radius: 8px;
}

.messageText:has(img){
    display: inline-block;
    vertical-align: top;
    padding-right: 0;
    padding-bottom: 10px;
}

#no-chats-banner {
    margin: 10px;
}