{% load static %}
<link rel="stylesheet" href="{% static 'base/style.css' %}">

<h1>Hello {{ request.user }}</h1>

{% if active_chats.count > 0 %}
    <ul>
        {% for chat in active_chats %}
        <li> {{ chat }} </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No chats are available.</p>
{% endif %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

 <form method="get" action="?">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
 </form>
<div class="users">
    {% if users.count > 0 %}
    <ul>
        {% for user in users %}
            <a href="./?talk={{ user }}">{{ user }}</a>
        {% endfor %}
    </ul>
    {% elif request.GET.search %}
        <span>No users</span>
    {% endif %}
</div>
