{% load static %}

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'base/login.css' %}">
</head>
<body>
<div class="container">
    {% if register == True %}
        <p style="color: green">Registration is successful.</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    {% endif %}
    <form action="../../auth/login">
        <button type="submit">Get Back</button>
    </form>
</div>
</body>