{% load static %}

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'base/login.css' %}">
    <script src="https://unpkg.com/openpgp@5.11.2/dist/openpgp.min.js"></script>
</head>
<body>
    <div class="container">
        {% if register == True %}
            <p style="color: green" register="true">Registration is successful.</p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        {% endif %}
        <form action="../../auth/login">
            <button type="submit">Get Back</button>
        </form>
    </div>
</body>

<script>
    const isRegistered = document.querySelector("p[register='true']");

    if (isRegistered) {
        console.log("hit");
        (async () => {
        const { privateKey, publicKey } = await openpgp.generateKey({
            type: 'ecc',
            curve: 'curve25519',
            userIDs: [{ name: "{{ form.username.value|default_if_none:'' }}", email: "{{ form.email.value|default_if_none:'' }}" }],
            passphrase: {% if pass_phrase != None %} '{{ pass_phrase }}' {% else %} "" {% endif %},
            format: 'armored'
        });

        localStorage.setItem("{{ username }}_private_key", privateKey);
        localStorage.setItem("{{ username }}_public_key", publicKey);
        })();
    }
</script>